* {
  --font: https://fonts.google.com/specimen/Amiri?query=Amiri;
  @import url(var(--font));

  margin: 0px;
  padding: 0px;
  font-family: "Amiri Quran Colored", sans-serif;
  font-size: 1rem;
  box-sizing: border-box;

  --pryColor: #07ce9e;
  --secColor: #044535;
}

body {
  background-color: #151414;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
}

/* background elements styles */

.blurcircle {
  background-color: var(--pryColor);
  width: 521px;
  height: 521px;
  opacity: 0.3;
  filter: blur(45px);
  z-index: -3;
  border-radius: 50%;

  position: fixed;
  bottom: -50%;
  left: -15%;
}

.shape1 {
  border-radius: 5%;
  background-color: var(--pryColor);

  /* opacity: 0.3; */
  filter: blur(15px);

  width: 1144px;
  height: 1144px;
  transform: rotate(33.476deg);
  flex-shrink: 0;
  z-index: -3;
  position: fixed;
  right: -60%;
  bottom: -40%;
}

.shape2 {
  border-radius: 5%;
  background-color: var(--secColor);

  filter: blur(15px);

  z-index: -3;
  width: 1144px;
  height: 1144px;
  transform: rotate(33.476deg);
  flex-shrink: 0;

  position: fixed;
  right: -63%;
  bottom: -38%;
}

/* Nav Bar style */

.navBar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 75%;
  width: 100%;
  z-index: 100;
}

.logo {
  width: 10.8125rem;
  height: 8.3125rem;
  flex-shrink: 0;

  position: relative;
  top: -2%;
  left: 1%;
}

.subscribeNav {
  top: 10%;
  right: 5%;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
}

.subscribeDot {
  background-color: var(--pryColor);
  display: none;
  border-radius: 50%;
  border: none;
  width: 0.31rem;
  height: 0.31rem;
}

.subscribeText {
  color: white;
  display: none;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400;
}

.subscribeText:hover {
  color: var(--pryColor);
}

/*Hero section styles*/
.hero {
  display: flex;
  flex-direction: row;
  text-align: start;
  margin-top: 3.75rem;
  margin-left: 5.63rem;
}

.heroHeader {
  font-size: 5.31rem;
  font-weight: 400;
  color: white;
}

.h-text {
  display: block;
  justify-content: start;
}

.heroH1 {
  color: var(--pryColor);
}

.heroText {
  color: white;
  font-size: 1.87rem;
  font-weight: 400;
  width: 75%;
}

.heroTextHightlight {
  color: var(--pryColor);
}

.formContainer {
  align-items: center;
  position: fixed;
  top: 0%;
  bottom: 20%;
  right: 0%;
  height: 100vh;
  width: 30vw;

  background-color: var(--secColor);
  padding: 45px;
}

.formContainer svg {
  position: relative;
  top: 0;
  left: 10%;
}

.techSammyHQLogo {
  display: flex;
  flex-direction: row;
  right: 50%;
}

.techSammyHQlogoMobile {
  display: none;
}

.form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.formTitle {
  color: white;
  font-size: 1.25rem;
  font-weight: lighter;
}

input {
  border-radius: 0.313rem;
  border: none;
  width: 16.9rem;
  height: 2.53rem;
  margin-top: 0.3rem;
  padding: 1rem;
}

.subscribeButton {
  margin-top: 1rem;
  width: 13.1rem;
  height: 3.75rem;
  border-radius: 2.81rem;
  border: none;
  background: var(--pryColor);
  color: white;
  font-size: 1.87rem;
  font-weight: 400;
}

.subscribeButton:hover {
  background-color: var(--secColor);
  box-shadow: -4px 4px 10px 0px var(--pryColor);
}

@media only screen and (max-width: 992px) {
  .blurcircle {
    background-color: var(--pryColor);
    width: 18.8rem;
    height: 18.8rem;
    opacity: 0.3;
    filter: blur(45px);
    z-index: -3;
    border-radius: 50%;

    position: fixed;
    bottom: -5%;
    left: -15%;
  }

  .shape1 {
    border-radius: 20%;
    background-color: var(--pryColor);

    width: 58rem;
    height: 58rem;
    transform: rotate(33.476deg);
    flex-shrink: 0;
    z-index: -3;
    position: fixed;
    left: 60%;
    bottom: -32%;
  }

  .shape2 {
    border-radius: 20%;
    background-color: var(--secColor);

    z-index: -3;
    width: 58rem;
    height: 58rem;
    transform: rotate(33.476deg);
    flex-shrink: 0;

    position: fixed;
    left: 70%;
    bottom: -32%;
  }

  /*Tech Sammy HQ logo styles*/

  .techSammyHQlogo {
    display: none;
  }

  .techSammyHQlogoMobile {
    display: block;
    position: fixed;
    right: 5%;
    bottom: 10%;
  }

  /* Nav Bar style */

  .navBar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin-left: 1rem;
    gap: 73%;
    width: 100%;
    z-index: 100;
  }

  .logo {
    width: 10.8125rem;
    height: 8.3125rem;
    flex-shrink: 0;

    position: relative;
    top: -2%;
    left: 1%;
  }

  .subscribeNav {
    display: none;
    top: 10%;
    right: 5%;
    align-items: baseline;
    display: flex;
    gap: 0.3rem;
  }

  .subscribeDot {
    display: none;
    background-color: var(--pryColor);
    border-radius: 50%;
    border: none;
    width: 0.31rem;
    height: 0.31rem;
  }

  .subscribeText {
    display: none;
    color: white;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 400;
  }

  /*Hero section styles*/
  .hero {
    filter: blur(7.5px);
    justify-content: center;
    text-align: start;
    margin-top: 30px;
    margin-left: 45px;
  }

  .heroHeader {
    font-size: 2.81rem;
    font-weight: 400;
    color: white;
  }

  .heroH1 {
    color: var(--pryColor);
  }

  .heroText {
    color: white;
    font-size: 0.94rem;
    font-weight: 400;
    width: 90%;
  }

  .heroTextHightlight {
    color: var(--pryColor);
  }

  /*Form styles for mobile*/
  .formContainer {
    position: fixed;
    top: 20%;
    left: 12.5%;
    height: 60vh;
    width: 75vw;

    background-color: var(--secColor);
    box-shadow: -3px 3px 10px 0px var(--pryColor);
    padding: 45px;
    border-radius: 5%;
  }

  .formContainer svg {
    position: relative;
    align-self: center;
    top: 0;
    margin-right: 130%;
    margin-left: 1%;
  }

  .form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .formTitle {
    color: white;
    font-size: 1.25rem;
    font-weight: lighter;
  }

  input {
    border-radius: 0.313rem;
    border: none;
    width: 16.9rem;
    height: 2.53rem;
    margin-top: 0.3rem;
    padding: 1rem;
  }

  .subscribeButton {
    margin-top: 1rem;
    width: 6.52rem;
    height: 2.21rem;
    border-radius: 2.81rem;
    border: none;
    background: var(--pryColor);
    color: white;
    font-size: 1rem;
    font-weight: 400;
    box-shadow: -4px 4px 10px 0px var(--pryColor);
  }
  .subscribeButton:hover {
    background-color: var(--secColor);
    box-shadow: -4px 4px 10px 0px var(--pryColor);
  }
}
